.benefit__title {
    margin-bottom: 20px;
    font-weight: 24px;
    font-weight: 700;
}

.benefit__text {
    margin-bottom: 14px;
    font-weight: 400;
    line-height: 185%; /* 29.6px */
    opacity: 0.8;
}

